@font-face {
    font-family: 'Behrens AntiquaC';
    src: url(fonts/Behrens\ AntiquaC.ttf);
}

@font-face {
    font-family: 'Bleedings Cowboys';
    src: url(fonts/Bleedings\ Cowboys.ttf);
}

@font-face {
    font-family: 'CCHellshock';
    src: url(fonts/CCHellshock.otf);
}

@font-face {
    font-family: 'd_Due Date';
    src: url(fonts/d_Due\ Date.ttf);
}

@font-face {
    font-family: 'Dogwood';
    src: url(fonts/Dogwood.otf);
}

@font-face {
    font-family: 'Latin Bold Narrow';
    src: url(fonts/Latin\ Bold\ Narrow.ttf);
}

@font-face {
    font-family: 'Latin Italic';
    src: url(fonts/Latin\ Italic.ttf);
}

@font-face {
    font-family: 'Latin Roman';
    src: url(fonts/Latin\ Roman.ttf);
}

@font-face {
    font-family: 'Lato Regular';
    src: url(fonts/Lato\ Regular.ttf);
}

@font-face {
    font-family: 'Mon Terminal';
    src: url(fonts/Mon\ Terminal.otf);
}

@font-face {
    font-family: 'MozillaC';
    src: url(fonts/MozillaC.ttf);
}

@font-face {
    font-family: 'Munson Bold Italic';
    src: url(fonts/Munson.otf);
}

@font-face {
    font-family: 'Munson Bold';
    src: url(fonts/Munson\ Bold.otf);
}

@font-face {
    font-family: 'Munson Italic';
    src: url(fonts/Munson\ Bold\ Italic.otf);
}

@font-face {
    font-family: 'Munson';
    src: url(fonts/Munson\ Italic.otf);
}

@font-face {
    font-family: 'Ondine';
    src: url(fonts/Ondine.ttf);
}

@font-face {
    font-family: 'Pravda Fixed Pitch';
    src: url(fonts/Pravda\ Fixed\ Pitch.otf);
}

@font-face {
    font-family: 'PriamojS';
    src: url(fonts/PriamojS.otf);
}

@font-face {
    font-family: 'Space Toaster CYR';
    src: url(fonts/Space\ Toaster\ CYR.ttf);
}

@font-face {
    font-family: 'URWWoodTypD';
    src: url(fonts/URWWoodTypD.ttf);
}

@font-face {
    font-family: 'VinqueRG';
    src: url(fonts/VinqueRG.ttf);
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(fonts/montserrat/Montserrat-SemiBold.ttf);
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    font-weight: 400;
}

a {
    text-decoration: none;    
}

.land-header {
    display: flex;
}

.header-menu-nav {
    display: flex;
    flex-direction: row;
    align-items: center; 
    width: 100%;
    background-color: black
}

.header-menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;    
    list-style: none;
}

.header-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14%;
}

.header-menu-link {
    font-family: 'Montserrat-SemiBold';
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 20px;
    letter-spacing: 2px;
    color: white;
}

.header-menu-link:hover {
    font-size: 24px;
    line-height: 25px;
    border-top: solid white;
    border-bottom: solid white;
    border-width: 1%;
    transition: 1s;
}

.logo-image {
    display: flex;
    justify-content: center;
    width: 16%;
    overflow: hidden;
    transition: 1.5s;
}

.logo-image:hover {
    transform: scale(1.15);
}

.land-main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.intro {
    display: flex;
    flex-direction: row;
    background-color: #0a0a0a;
    color: white;
}

.intro-article {
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
}

.intro-image {
    align-items: flex-end;
    width: 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    vertical-align: middle;
    position: relative;
    background-attachment: fixed;
    overflow: hidden;
} 

.heading {
align-items: flex-start;
}

.intro-info {
align-items: flex-end;
}